@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color:  #353535;
    font-family: "Open Sans", serif;
}

.menuSuperior {
    background-color: #16283C;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menuSuperior button{
    margin: 0;

    background: #FE5722;
    border: none;
    width: 40px;
    height: 40px;
}

.menuLateral{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #16283C;
    color: whitesmoke;
}

.menuLateral ul {
    margin: 0;

    padding: 50px;

    list-style-type: none;
    list-style: none;
}

.menuLateral li{
    margin-bottom: 30px;
}

.menuLateral svg{
    margin-right: 15px;
}

.painel{
    display: flex;
}

.conteudoPrincipal{
    display: flex;
}

.cards{
    background-color: white;
    text-align: center;

    margin: 30px;
    
    padding: 30px;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;

    border-radius: 10px;

    box-shadow: 1px 2px 3px #ccc;
}

.cards svg{
    font-size: 45px;
    color: #16283C;
}